.RoadMap_Container{
    margin: 50px 0 100px 0;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: center;
    p{
        width: 470px;

    }
    .desc{
        margin-left: 80px;
        margin-bottom: -80px;
    }
}
// ----------------- Media Query ------------------- //

@media only screen and (max-width: 600px) {
    .RoadMap_Container{
        flex-direction: column;
    }
    
}
@media only screen and (max-width: 500px) {
    .RoadMap_Container{
        padding: 0;
    }
    
}