.RoadMap_Container{
    background-color: white;
    width: 100%;
    color: BLACK;
    padding-bottom: 100px;
    p{
        width: 470px;

    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .desc{
        margin-left: 80px;
        margin-bottom: -80px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(4, 20vw);
        justify-items: center;
        margin-top: 50px;
    }
}
// ----------------- Media Query ------------------- //

@media only screen and (max-width: 800px) {
    .RoadMap_Container{
 
        p{
            width: 60vw;
        }
    }
    
}