.Dream_Container{
    background-image: linear-gradient(rgba($color: #39379B, $alpha: .3), rgba($color: #39379B, $alpha: .5)),  url('../../assets/images/dream.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    h2{
        font-size: 3rem;
        margin: 20px 0;
    }
    button{
        margin: 20px 0;
    }
}


