.RoadMapCard_Container{
    width: 250px;
    border-radius: 10px;
    height: 280px;
    background-color: rgba($color: #2969A7, $alpha: 1);
    background-size: 100% 100%;
    margin: 40px 0px;
    max-width: 70vw;
    padding: 20px 5px 0 5px; 
    color: white;
    margin-bottom: -24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;


    p{
        line-height: 1.6em !important;
        max-width: 230px;

    }
    h3{
        color: white;
        margin: 5px 0;
    }
}

// ----------------- Media Query ------------------- //


@media only screen and (max-width: 600px) {
    .RoadMapCard_Container{
        padding-left: 20px;
        padding-right: 20px;
        height: 240px;
        justify-content: center;

        .description{
            margin-left: 30px;
        }
        p{
            font-size: .8rem;
    
        }
    }
}
@media only screen and (max-width: 350px) {
    .RoadMapCard_Container{
        .description{
            margin-left: 30px;
        }
        p{
            font-size: .7rem;
    
        }
    }
}