.NavbarItems{
    z-index: 999;
}
.NavbarItems_Scrolled{
    a{
        color: rgba($color: #000000, $alpha: .6);
    }
    a:hover{
        color: #605FAF !important;
    } 
  
}

.Navbar_Container{
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-top: 20px;
    z-index: 999;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 500;
    div{
        display: flex;
    }
    a{
        margin: 0 20px;
        cursor: pointer;
        
    }
 
    
    .Navbar_logo{
        height: 60px;
        width: auto;
        margin: 0;
        padding: 0;
        user-select: none;
    }
    .MenuIcon{
        transform: scale(1.5);
        margin-left: auto;
        margin-right: 20px;
    }
}
.Navbar_ScrollSpy{
    color: rgb(21,151,229)

}

.Navbar_Container_Scrolled{ 
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 999;
    margin-top: 0;   
  
}
// ----------------- Media Query ------------------- //

@media only screen and (max-width: 1039px) {
    .Navbar_Container{
        a{
            font-size: 12px;
            margin: 15px 10px;
        }
        .Navbar_logo{
            height: 40px;
        }
    }
    
}
@media only screen and (max-width: 821px) {
    .Navbar_Container{
        a{
            font-size: 12px;
            margin: 15px 10px;
        }
        .Navbar_logo{
            height: 35px;
        }
    }
    
}
@media only screen and (max-width: 600px) {
    .Navbar_Container_Scrolled{ 
        background-color: transparent;
        color: rgb(21,151,229);
        z-index: 999;
        margin-top: 15px;
    }
 
    .NavbarItems{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        justify-content: space-between;
        max-height: 250px;
        right: 18px;
        margin: 0;
        top: 40px;
        background-color: white;
        color: black;
        a{
            width: 200px;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .Navbar_Container{
        justify-content: space-between;
        border: none;
        a, ul{
            margin: 0;
            padding: 0;
        }
        .Navbar_logo{
            padding: 10px;
        }
    }
    
}
@media only screen and (max-width: 330px) {
    
    .Navbar_Container{
        .MenuIcon{
            transform: scale(1.3);
            margin-right: 1 0px;
        }
     }
}    
