.Stats_Container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    p{
        max-width: 55vw;
    }
    .gridbox{
        display: grid;
        grid-template-columns: 40vw 40vw;
        align-items: center;
        justify-items: center;
        .stat{
            max-width: 30vw;
            text-align: left;
            H3{
                color: #E8AA3A;
            }
        }
    }
  
}
// ----------------- Media Query ------------------- //

@media only screen and (max-width: 600px) {
    .Stats_Container{
        align-items: flex-start;
        padding: 0 40px;
        p{
            max-width: 85vw;
        }
        text-align: left;
        .gridbox{
            grid-template-columns: 80vw;
            .stat{
                max-width: 100%;
            }
        }
    }
    
}